/* font script  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common styles */
*{
    
    margin-top: 0;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --base-color: #E02C6D;
    --text-color: #3A3A3A;
   
}

/* Nav section style 
------------------- */

nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
    
}
.nav-left{
    font-size: 24px;
    color: var(--text-color);
}
.nav-right, .nav-left{
    font-weight: 600;
}
.menu{
    display: flex;
}
.menu>li{
    margin-right: 20px;
    padding: 5px 10px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: var(--text-color);
}
.fa-search, .fa-shopping-cart{
    font-size: 25px;
}

/* Header section style  
------------------- */

.container{
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    align-items:center;
    color: var(--text-color);
}
.header-left{
    width: 50%;
}
.header-left>h1{
    font-size: 52px;
}
.highlight{
    color: #E02C6D;
}
.header-left>p{
    font-weight: 600;
    margin-bottom: 40px;
}
.header-right{
    width: 50%;
    margin-left: 100px;
}
img{
    width: 80%;
}

.common-button{
    background-color: #E02C6D;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}
.common-button a{
    text-decoration: none;
}

/* company name style  
------------------- */
hr{
    border: 1px solid  lightgray;
}
.company{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 100px;
}

.company-logo{
    display: flex;
    height: 100px;
    align-items: center;
}
.company-logo>img{
    height: 40%;
    margin-right: 30px;
}


/* footer style  
------------------- */
footer{
    background-color: rgb(24, 3, 36);
    color: white;
    margin-top: 100px;
    padding: 30px;
    text-align: center;
}
.footer-body>h3{
    font-size: 24px;
    width: 500;
}
.footer-media a{
    display: inline-block;
    justify-content: center;
    font-size: 30px;
    margin-right:10px;
    color: white;
}