/* font script  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common styles 
------------------*/
*{
    margin-top: 0;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --base-color: #E02C6D;
    --text-color: #3A3A3A;
}
.common-button{
    background-color: #E02C6D;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}
.common-button a{
    text-decoration: none;
}

/* Nav section style 
------------------- */

nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-left: 8%;
    margin-right: 8%; 
}
.nav-left{
    font-size: 24px;
    color: var(--text-color);
    margin-top: 30px;
}
.menu{
    margin-top: 35px;
}
.menu, .nav-left{
    font-weight: 600;
}
.menu{
    display:flex;
}

.menu li{
    margin-right: 20px;
    padding: 5px 10px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: var(--text-color);
}
.fa-search, .fa-shopping-cart{
    font-size: 25px;
}
#toggler{
    display: none;
}
.toggler-icon{
    display: none;
}


/* Header section style  
------------------- */

.container{
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    align-items:center;
    color: var(--text-color);
}
.header-left{
    width: 50%;
}
.header-left>h1{
    font-size: 52px;
}
.highlight{
    color: #E02C6D;
}
.header-left>p{
    font-weight: 600;
    margin-bottom: 40px;
}
.header-right{
    width: 50%;
    margin-left: 100px;
}
img{
    width: 80%;
}



/* company name style  
------------------- */
hr{
    border: 1px solid  lightgray;
}
.company{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 100px;
}

.company-logo{
    display: flex;
    height: 100px;
    align-items: center;
}
.company-logo>img{
    height: 40%;
    margin-right: 30px;
}

/* popular collection style 
--------------------------- */
.collection{
    color: var(--text-color);
    margin-top: 110px;
    margin-left: 8%;
    margin-right: 8%;
}

h2{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.product{
    box-shadow: 0px 0px 20px lightgray;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
}

.product img{
    width: 100%;
}
.h2{
    font-size: 28px;
    font-weight: 600;
    text-align: left;
}
.h3{
    font-size: 24px;
}
.product p{
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
}
.rating .fas{
    color:orange; 
    margin-top: 10px; 
}
.rating{
    margin-bottom: 5px;
}
.see-more{
    text-align: right;
    margin-top: 20px;
}
.see-more a{
    text-decoration: none;
    color: var(--base-color);
    font-weight: 700;
}

/* featured products  
---------------------*/
.feture-product{
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    align-items:center;
    color: var(--text-color);
    margin-top: 100px;
}
.feature-left{
    width: 60%;
    order: 2;
}
.feature-left>h1{
    font-size: 35px;
}

.highlight{
    color: #E02C6D;
}
.feature-left>p{
    font-weight: 600;
    margin-bottom: 40px;
}
.feature-right{
    width: 40%;
    margin-left:0;
}
.feature-right img{
    box-shadow: 0px 0px 10px gray;
    border: 5px solid white;
    height: 250px;
}


/* footer style  
------------------- */
footer{
    background-color: rgb(24, 3, 36);
    color: white;
    margin-top: 100px;
    padding: 30px;
    text-align: center;
}
.footer-body>h3{
    font-size: 24px;
    width: 500;
}
.footer-media a{
    display: inline-block;
    justify-content: center;
    font-size: 30px;
    margin-right:10px;
    color: white;
}

/* mobile responsive
------------------- */
@media (max-width:688px){

    /* nav section  */
    .toggler-icon{
        display: block;
        margin-top: 35px;
    }
    .menu{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 10px 0;
        transform: translateY(-330px);
        transition: .5s ease-in-out;
    }
    #toggler:checked ~ .menu{
        transform: translateY(0px);
    }

/* header section  */
    .container{
        flex-direction:column-reverse;
        margin-left: 2%;
        margin-right: 2%;
    }
    .header-left{
        width: 90%;
        text-align: center
    }
    .header-left>h1{
        font-size: 36px;
    }
    .header-left>p{
        font-weight: 600;
        margin-bottom: 20px;
    }
    .header-right{
        width: 90%;
    }
    img{
        width: 80%;
    }

/* company logo  */
hr{
    border: 1px solid  lightgray;
}
.company{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;
}
.company-logo{
    height: 60px;
    align-items: center;
}
.company-logo>img{
    margin-right: 5px;
}

/* popular products  */
.collection{
    color: var(--text-color);
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
}

h2{
    margin-bottom: 20px;
}
.products{
    display: grid;
    grid-template-columns: 1fr;
}
.product, .h2{
    text-align: left;
}

.product img{
    width: 90%;
}

.h3{
    font-size: 24px;
}

.see-more{
    text-align: center;
}

/* featured products  
---------------------*/
.feture-product{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;
}
.feature-left{
    width: 90%;
    order: 2;
}
.feature-left>h1{
    font-size: 30px;
}
.feature-right{
    width: 90%;
    margin-bottom: 30px;
}
.feature-right img{
    box-shadow: 0px 0px 10px gray;
    border: 5px solid white;
    height: 100%;
}

/* footer style  
------------------- */
footer{
    margin-top: 50px;
}
.footer-body>h3{
    font-size: 24px;
    width: 500;
}
.footer-media a{
    display: inline-block;
    justify-content: center;
    font-size: 30px;
    margin-right:10px;
    color: white;
}


}